/*===============================
Common Css Start
================================*/

* {
    margin: 0px;
    padding: 0px;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
}

ul,ol {
    list-style: 
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

hr {
    border: none;
    background: #DBDBDB;
    height: 1px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/*===============================
Header Part Css Start
================================*/

.logo img {
    max-width: 310px;
    width: 250px;
    margin: auto;
    display: block;
}

/*===============================
Main Menu Css Start
================================*/
#main_menu {
    width: 100%;
    clear: both;
}

.inner_menu {
    background: #ffffff;
    position: relative;
    min-height: 30px;
    padding: 15px 0px;
    border-radius: 5px;
    z-index: 1;
}

.inner_menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
    text-align: center;
}

.inner_menu ul li {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

#main_menu ul li a {
    color: #000000;
    display: block;
    padding: 5px;
    font-weight: bold;
}

#main_menu ul li:hover a {
    color: #E2B34F;
}

/*===============================
Body Part Css Start
================================*/
.body_img{
    width: 100%;
    height: auto;
}

.body_img01 {
    background: url(../img/body-image05.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0px;
    text-align: center;
    color: white;
}

.body_img01 h1 {
    margin-bottom: 20px;
    color: #E2B34F;
    font-weight: normal;
}

.body_img01 p {
    width: 80%;
    margin: auto;
    line-height: 30px;
}


/*=========================================
Contact Css Start Here
==========================================*/
.contact_back {
    background: url(../img/body-image06.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact_main {
    text-align: center;
}

.contact_back .contact_one {
    overflow: hidden;
    width: 450px;
    display: inline-block;
}

.contact_info {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0px;
    width: 98%;
    background: #FAFAFA;
    text-align: center;
    box-shadow: 0px 5px 5px -5px gray;
}
.contact_info h3 {
	color: #E09C3B;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact_info p {
    margin: 10px 0px;
}

.contact_info .time {
	font-weight: bold;
}

.contact_info .empty_space {
	color: transparent;
}

.contact_hr {
    width: 70%;
    margin: auto;
}

/*Contact Two Section Css Part*/
.contact_two h2{
	text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 30px;
}

.contact_info_two {
    text-align: center;
    line-height: 30px;
}

.button {
    margin: 50px 0px;
}

.button a {
    display: inline-block;
    color: #E09C3B;
    border: 2px solid #E09C3B;
    padding: 10px 60px;
    font-weight: bold;
    margin: 10px 10px;
    font-size: 12px;
}

.p_uppercase_text {
    padding-bottom: 40px;
}

.contact_info_two .p_uppercase_text p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.contact_hr2 {
    margin: 0px 0px;
}

/*Contact Three Section Css Part*/
.contact_three {
    text-align: center;
    margin-top: 50px;
}

.contact_div_one {
    margin: 30px 0px;
	width: 450px;
    display: inline-block;
    text-align: center;
}

.contact_div_one i {
    font-size: 40px;
}

.contact_div_one h2 {
    font-size: 16px;
    margin-top: 20px;
}

.contact_div_one p {
    line-height: 30px;
    margin-top: 10px;
}

/*===================================
Footer Section Css Part
====================================*/

.footer_mmain {
    text-align: center;
}

.footer_mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_one {
    max-width: 250px;
    width: 100%;
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
}

.footer_one h2 {
    color: #E2B34F;
    margin-bottom: 20px;
}

.footer_one p {
    line-height: 25px;
    color: gray;
}

.footer_one_main {
	text-align: left;
}

.footer_one_mid {
	display: inline-block;
    text-align: left;
    margin-top: 40px;
}

.footer_one .footer_one_mid a {
    display: block;
    line-height: 40px;
    color: gray;
}

.footer_one .footer_one_mid a:hover {
    color: #E2B34F;
}

/*=========================================
Media Query Start Here
==========================================*/
.social_link_div ul {
    text-align: center;
    padding-bottom: 100px;
}

.social_link_div ul li {
    display: inline-block;
}

.social_link_div ul li a {
    
}

/*=========================================
Media Query Start Here
==========================================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .magazine img {
        margin: 50px 0px;
    }
    
    .bespoke_text p {
    padding: 0px 20px;
    }
    
    .pro_text .button {
	margin-top: 30px;
    margin-bottom: 30px;
    }
    
    .footer_one {
        text-align: left;
    }
} 

