/*===============================
Common Css Start
================================*/

* {
    margin: 0px;
    padding: 0px;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

hr {
    border: none;
    background: #DBDBDB;
    height: 1px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/*===============================
Header Part Css Start
================================*/

.logo img {
    max-width: 310px;
    width: 250px;
    margin: auto;
    display: block;
}

/*===============================
Main Menu Css Start
================================*/
#main_menu {
    width: 100%;
    clear: both;
}

.inner_menu {
    background: #ffffff;
    position: relative;
    min-height: 30px;
    padding: 15px 0px;
    border-radius: 5px;
    z-index: 1;
}

.inner_menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
    text-align: center;
}

.inner_menu ul li {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

#main_menu ul li a {
    color: #000000;
    display: block;
    padding: 5px;
    font-weight: bold;
}

#main_menu ul li:hover a {
    color: #E2B34F;
}

/*===============================
Body Part Css Start
================================*/
.body_img{
    width: 100%;
    height: auto;
}

.body_img img {
    width: 100%;
    min-height: 250px;
}

/*===================================
Discover Div Css Part
====================================*/
.discover {
	margin-bottom: 80px;
}

.discover_mid {
    margin-top: 100px;
}

.dummy_text {
    width: 60%;
}

.discover_mid .dummy_text h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: normal;
    color: #6d1762;
    margin-left: 20px;
}

.discover_mid .dummy_text p {
    margin: auto;
    line-height: 30px;
    margin-bottom: 30px;
    color: #6d1762;
    margin-left: 20px;
}


/*===================================
Footer Section Css Part
====================================*/
.footer_mmain {
    text-align: center;
}

.footer_mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_one {
    max-width: 250px;
    width: 100%;
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
}

.footer_one h2 {
    color: #E2B34F;
    margin-bottom: 20px;
}

.footer_one p {
    line-height: 25px;
    color: gray;
}

.footer_one_main {
	text-align: left;
}

.footer_one_mid {
	display: inline-block;
    text-align: left;
    margin-top: 40px;
}

.footer_one .footer_one_mid a {
    display: block;
    line-height: 40px;
    color: gray;
}

.footer_one .footer_one_mid a:hover {
    color: #E2B34F;
}

/*=========================================
Media Query Start Here
==========================================*/
.social_link_div ul {
    text-align: center;
    padding-bottom: 100px;
}

.social_link_div ul li {
    display: inline-block;
}

.social_link_div ul li a {
    
}

/*=========================================
Media Query Start Here
==========================================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .dummy_text h1 {
	    margin-left: 0px!important;
    }
    
    .dummy_text p {
	    margin-left: 0px!important;
    }
    
    .discover_mid {
        text-align: center;
    }
    
    .dummy_text {
        width: 90%!important;
        margin: auto;
    }
    
    .footer_one {
        text-align: left;
    }
} 

